# Local only
.archive/
.experiments/
.perl/
.vscode/
.gdb_history
.task/

# This is just for my personal documentation of the GDB Python API
gdb/

# Lua 5.1.5 (for personal debugging only)
# lua-5.1.5/
lua-5.1.5.tar.gz
lua/{etc,doc,test}

# Build directories
bin/
obj/
